@model object

@{
  ViewBag.Title = "Info";
  Layout = "_Layout";
}

<h2>Edit Skills (Carah&nbsp;Conner)</h2>
<form class="form-horizontal">
  <div class="form-group">
      <label class="control-label"><a class="btn btn-link" title="Add a Skill group"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>Business Domains</label>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-btn">
        <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      </div>
      <div class=" form-second-level">
        <select class="form-control">
          <option>-- Select --</option>
          <option selected="selected">Other</option>
        </select>
      </div>
      <div class="input-group-btn">
        <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
<div class="form-group">
  <div class="input-group">
    <div class="input-group-btn">
      <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>
    <div class="form-third-level">
      <select class="form-control">
        <option>-- Select --</option>
        <option selected="selected">Accounting</option>
        <option>Banking</option>
      </select>
    </div>
    <div class="input-group-btn">
      <select class="form-control level-select">
        <option>-- Select --</option>
        <option>Beginner</option>
        <option>Intermediate</option>
        <option selected="selected">Advanced</option>
      </select>
    </div>
    <div class="input-group-btn">
      <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="input-group">
    <div class="input-group-btn invisible">
      <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>
    <div class="form-third-level">
      <select class="form-control">
        <option>-- Select --</option>
        <option>Accounting</option>
        <option>Banking</option>
        <option selected="selected">CRM, customer service</option>
      </select>
    </div>
    <div class="input-group-btn">
      <select class="form-control level-select">
        <option>-- Select --</option>
        <option>Beginner</option>
        <option>Intermediate</option>
        <option selected="selected">Advanced</option>
      </select>
    </div>
    <div class="input-group-btn">
      <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
    </div>
  </div>
</div>


 

  <div class="form-group">
    <label class="control-label">
      <a class="btn btn-link" title="Add a Skill group"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      Operating Systems
    </label>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-btn">
        <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      </div>
      <div class=" form-second-level">
        <select class="form-control">
          <option>-- Select --</option>
          <option selected="selected">Mobile</option>
        </select>
      </div>
      <div class="input-group-btn">
        <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-btn">
        <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      </div>
      <div class="form-third-level">
        <select class="form-control">
          <option>-- Select --</option>
          <option selected="selected">Android</option>
        </select>
      </div>
      <div class="input-group-btn">
        <select class="form-control level-select">
          <option>-- Select --</option>
          <option>Beginner</option>
          <option>Intermediate</option>
          <option selected="selected">Advanced</option>
        </select>
      </div>
      <div class="input-group-btn">
        <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-btn invisible">
        <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      </div>
      <div class="form-third-level">
        <select class="form-control">
          <option>-- Select --</option>
          <option selected="selected">Windows Phone 7/8</option>
        </select>
      </div>
      <div class="input-group-btn">
        <select class="form-control level-select">
          <option>-- Select --</option>
          <option>Beginner</option>
          <option>Intermediate</option>
          <option selected="selected">Advanced</option>
        </select>
      </div>
      <div class="input-group-btn">
        <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-btn invisible">
        <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      </div>
      <div class="form-third-level">
        <select class="form-control">
          <option>-- Select --</option>
          <option selected="selected">PalmOS</option>
        </select>
      </div>
      <div class="input-group-btn">
        <select class="form-control level-select">
          <option>-- Select --</option>
          <option>Beginner</option>
          <option>Intermediate</option>
          <option selected="selected">Advanced</option>
        </select>
      </div>
      <div class="input-group-btn">
        <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
  

  <div class="form-group form-second-level">
    <div class="input-group">
      <div class="input-group-btn invisible">
        <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      </div>
      <div class="form-second-level">
        <select class="form-control">
          <option selected="selected">Windows</option>
        </select>
      </div>
      <div class="input-group-btn">
        <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-btn">
        <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      </div>
      <div class="form-third-level">
        <select class="form-control">
          <option>-- Select --</option>
          <option selected="selected">Windows 8</option>
        </select>
      </div>
      <div class="input-group-btn">
        <select class="form-control level-select">
          <option>-- Select --</option>
          <option>Beginner</option>
          <option>Intermediate</option>
          <option selected="selected">Advanced</option>
        </select>
      </div>
      <div class="input-group-btn">
        <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
<div class="form-group">
  <div class="input-group">
    <div class="input-group-btn invisible">
      <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>
    <div class="form-third-level">
      <select class="form-control">
        <option selected="selected">Windows NT/2000/XP</option>
      </select>
    </div>
    <div class="input-group-btn">
      <select class="form-control level-select">
        <option>-- Select --</option>
        <option>Beginner</option>
        <option>Intermediate</option>
        <option selected="selected">Advanced</option>
      </select>
    </div>
    <div class="input-group-btn">
      <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
    </div>
  </div>
</div>





<div class="form-group">
    <label class="control-label">
      <a class="btn btn-link" title="Add a Skill group"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      Quality Control Engineer
    </label>
  </div>


<div class="form-group">
  <label class="control-label">
    <a class="btn btn-link" title="Add a Skill group"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    Software Engineer
  </label>
  </div>
  <div class="form-group form-second-level">
    <div class="input-group">
      <div class="input-group-btn">
        <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      </div>
      <div class=" form-second-level">
        <select class="form-control">
          <option selected="selected">.NET</option>
        </select>
        </div>
      <div class="input-group-btn">
        <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-btn">
        <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      </div>
      <div class="form-third-level">

        <select class="form-control">
          <option selected="selected">Desktop</option>
        </select>
      </div>
      <div class="input-group-btn">
        <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
<div class="form-group form-fourth-level">
  <div class="input-group">
    <div class="input-group-btn invisible">
      <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>
    <div class="form-fourth-level">
      <select class="form-control">
        <option>-- Select --</option>
        <option selected="selected">CMDlets</option>
      </select>
    </div>
    <div class="input-group-btn">
      <select class="form-control level-select">
        <option>-- Select --</option>
        <option>Beginner</option>
        <option>Intermediate</option>
        <option selected="selected">Advanced</option>
      </select>
    </div>
    <div class="input-group-btn">
      <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
    </div>
  </div>
</div>
  <div class="form-group form-fourth-level">
    <div class="input-group">
      <div class="input-group-btn invisible">
        <a class="btn btn-link pull-right" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      </div>
      <div class="form-fourth-level">
        <select class="form-control">
          <option selected="selected">WinForms</option>
        </select>
      </div>
      <div class="input-group-btn">
        <select class="form-control level-select">
          <option>-- Select --</option>
          <option>Beginner</option>
          <option>Intermediate</option>
          <option selected="selected">Advanced</option>
        </select>
      </div>
      <div class="input-group-btn">
        <a class="btn btn-link" title="Edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>
<div class="form-group">
    <label class="control-label">
      <a class="btn btn-link" title="Add a Skill group"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      Third Party Systems
    </label>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="button" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-link">Cancel</button>
  </div>
</div>
</form>