body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-inverse .navbar-brand {
    color: #299548;
}

@media only screen and (max-width: 750px) {

    .table-bordered {
        padding-left: 0;
        padding-right: 0;
    }
    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    #no-more-tables tr {
        border-bottom: 1px solid #eee;
    }

    #no-more-tables .panel-body {
        padding-left: 0;
        padding-right: 0;
    }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
/*        border-bottom: 1px solid #eee;*/
        position: relative;
        padding-left: 35%;
        padding-left: 35%;
        white-space: normal;
        text-align: left;
    }

        #no-more-tables td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 35%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
	Label the data
	*/
        #no-more-tables td:before {
            content: attr(data-title);
        }

    #no-more-tables .panel {
        margin: 0;
    }
    #no-more-tables .panel-default {
        border: none;
    }
}

@media only screen and (min-width: 751px) {
    #no-more-tables div.table-container {
        margin: 0;
    }
}



div.dataTables_length label, 
div.dataTables_length label select {
    display: inline-block;
}
div.dataTables_length label select {
    width: auto;
}
div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}
div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
}